* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  margin: 0 auto;
  width: 100%;
}

.navbtn {
  width: 200px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
 
}

@media only screen and (max-width: 480px) {
  .navbtn {
    background-color: green;
    width: 99%;
    /* width: 100%; */
  }
}

@media only screen and (min-width: 481px) {
  .navbtn {
    background-color: yellow;
    width: 49%;
    /* width: 50%; */
  }
}

@media only screen and (min-width: 1024px) {
  .navbtn {
    background-color: red;
    width: 24%;
    /* width: 25%; */
  }
}